<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header class="container">
      <h1>Attack!</h1>
    </header>
    <main>
      <section>

        <section class="container">
           <% if @game.current_turn == @game.player_1 %>
          <h2><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h2>
          <% else %>
          <h2><%= @game.player_2.name %> attacked <%= @game.player_1.name %></h2>
          <% end %>
        </section>

        <section class="container">
          <form action="/switch-turns" method="post">
          <input type="submit" value="OK">
          </form>
        </section>
      

        <section class="container">
        </section>
      </section>
      <footer>
      </footer>
    </main>
</body>
</html>