<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
<body>
<header>
</header>
<main class="container">
  <h2><%= @player_1_name %> attacked <%= @player_2_name %></h2>
</main>
<footer>
</footer>
</body>