<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header class="container">
      <h1>Attack!</h1>
    </header>
    <main>
      <section>
        <div class="container">
          <img src="images/8cxKjqAKi.png" class="sword-img">
        </div>
        <section class="container">
           <% if @game.current_turn == @game.player_1 %>
          <h2><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h2>
          <% else %>
          <h2><%= @game.player_2.name %> attacked <%= @game.player_1.name %></h2>
          <% end %>
        </section>

        <section class="container">
          <% if @game.game_over? %>
            <a href="/game-over">
              <button class="btn">
                Game over
              </button>
            </a>
          <% else %>
            <a href="/switch-turns">
              <button class="btn">
                OK
              </button>
            </a>
          <% end %>
        </section>

      </section>
      <footer>
      </footer>
    </main>
  </body>
</html>