<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1>Battle!</h1>
  </div>
  <div class="container">
    <img src="images/8cxKjqAKi.png" class="sword-img">
  </div>
  <div class="container">
    <h2>Sign up to play</h2>
  </div>
  <div class="container">
    <form action="/names" method="post">
      <label for="player_1_name">
        <h2>Player 1 name</h2>
        <input type="text" name="player_1_name" class="input_boxes">
      </label>
    <br>
      <label for="player_2_name">
        <h2>Player 2 name</h2>
        <input type="text" name="player_2_name" class="input_boxes">
      </label>
    <br>
      <div class="container-submit">
        <input type="submit" class="submit_btn" value="Submit">
      </div>
    </form>
  </div>
</body>
