<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1><%= @player_1_name %> vs. <%= @player_2_name %></h1>
  </div>
  <div class="container">
    <h2><%= @player_1_name %>: 60HP</h2>
  </div>
  <div class="container">
    <h2><%= @player_2_name %>: 60HP</h2>
  </div>
  <div class="container">
    <a href="/attack">
      <button class="btn">
        Attack!
      </button>
    </a>
  </div>
</body>
