<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<header class="container">
  <h1>Begin!</h1>
</header>
<body>
  <main>
    <section class="container">
      <h2><%= @player_1_name %> vs. <%= @player_2_name %></h2>
    </section>
    <section class="container">
      <h2><%= @player_1_name %>: 60HP</h2>
    </section>
    <section class="container">
      <h2><%= @player_2_name %>: 60HP</h2>
    </section>
    <section class="container">
      <a href="/attack">
        <button class="btn">
          Attack!
        </button>
      </a>
    </section>
  </main>
</body>
