
form {
  border: 5px red dashed;
  padding: 1em 2em;
  background-color: rgba(255, 255, 255, 0.4);
}
input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}
h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3em;
}
h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2em;
}
h3{
  font-family: 'Caladea', serif;
}
.index-background {
  background-image: url("images/battle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-background {
  background-image: url("images/23099.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.scroll{
  image: url("images/scroll.png");
}
.container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.container-transparent {
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}
.sword-img {
  width: 120px;
}
.heart-img {
  width: 50px;
  height: 50px;
}
.btn {
  margin-left: auto; 
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 32px;
  border-radius: 8px;
  transition-duration: 0.2s;
  align: center;
}
.btn:hover {
  background-color: red;
  color: white;
}
.container-submit-btn {
  padding: 0.5em;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
}
.submit_btn {
  margin-left: auto; 
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.2s;
}